@model TCategory
<div class="col-lg-12 item-preference">
    <input type="hidden" name="Preference" class="id-preference" value="@Model.Id" />
    <p>
        <strong>@Model.Name</strong> - <a class="excluir-preference" data-nome="@Model.Name" style="cursor: pointer">Excluir</a>
    </p>
</div>