@inherits ModelWebViewPage<TUser>
@{
    ViewBag.Title = "Usuario - Editar";
    Layout = "~/Areas/Painel/Views/Shared/_Layout.cshtml";
}
<h2>
    Usuário - Editar
</h2>

@Html.Partial("_form", Model)
