@inherits ModelWebViewPage<TClient>
@{
    ViewBag.Title = "Clientes Painel - Editar";
    Layout = "~/Areas/Painel/Views/Shared/_Layout.cshtml";
}
<h2>
    Clientes - Editar
</h2>

@Html.Partial("_form", Model)


