@inherits ModelWebViewPage<TClient>
@{
    ViewBag.Title = "Cliente - Editar";
    Layout = "~/Areas/Cliente/Views/Shared/_Layout.cshtml";
}
<h2>
    Cliente - Editar
</h2>

@Html.Partial("_form", Model)
