@inherits ModelWebViewPage<TCategory>
@{
    ViewBag.Title = "Gêneros - Cadastrar";
    Layout = "~/Areas/Painel/Views/Shared/_Layout.cshtml";
}
<h2>
    Gêneros - Cadastrar
</h2>

@Html.Partial("_form", Model)
