@inherits ModelWebViewPage<TCategory>
@{
    ViewBag.Title = "Categorias Painel - Editar";
    Layout = "~/Areas/Painel/Views/Shared/_Layout.cshtml";
}
<h2>
    Categorias - Editar
</h2>

@Html.Partial("_form", Model)

