@inherits ModelWebViewPage<TReservation>
@{
    ViewBag.Title = "Reservas Cliente - Cadastrar";
    Layout = "~/Areas/Cliente/Views/Shared/_Layout.cshtml";
}
<h2>
    Reservas- Cadastrar
</h2>

@Html.Partial("_form", Model)

