@inherits ModelWebViewPage<TReservation>
@{
    ViewBag.Title = "Reservas Cliente - Editar";
    Layout = "~/Areas/Cliente/Views/Shared/_Layout.cshtml";
}
<h2>
    Reserva - Editar
</h2>

@Html.Partial("_form", Model)


