@inherits ModelWebViewPage<TIten>
@{
    ViewBag.Title = "Clientes Cliente - Cadastrar";
    Layout = "~/Areas/Cliente/Views/Shared/_Layout.cshtml";
}
<h2>
    Itens - Editar
</h2>

@Html.Partial("_form", Model)
