@model TMovie
@* Pode ser TIten, se atentar a caso seja assim *@
<div class="col-lg-12 item-item">
    <input type="hidden" name="Itens" class="id-movie" value="@Model.Id" />
    <p>
        <strong>@Model.Name</strong> - <a class="excluir-filmes" data-nome="@Model.Name" style="cursor: pointer">Excluir</a>
    </p>
</div>