@inherits ModelWebViewPage<TReservation>
@{
    ViewBag.Title = "Reservas Painel - Editar";
    Layout = "~/Areas/Painel/Views/Shared/_Layout.cshtml";
}
<h2>
    Reservas - Editar
</h2>

@Html.Partial("_form", Model)


