@inherits ModelWebViewPage<TBook>
@{
    ViewBag.Title = "Livro Painel - Editar";
    Layout = "~/Areas/Painel/Views/Shared/_Layout.cshtml";
}
<h2>
    Livro - Editar
</h2>

@Html.Partial("_form", Model)

